html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o conteúdo principal seja centralizado verticalmente */
    min-height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Faz com que o conteúdo ocupe todo o espaço disponível */
    padding: 20px; /* Espaçamento interno para o conteúdo */
    text-align: center; /* Centraliza horizontalmente todo o conteúdo */
}
#search_form {
    max-width: 500px; /* Define uma largura máxima para o formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
}
#search_box {
    padding: 10px;
    border: solid 1px #666666;
    width: 100%; /* Ocupa toda a largura disponível do container */
    max-width: 400px; /* Largura máxima do campo de busca */
    height: 45px;
    font-size: 18px;
    border-radius: 6px;
    margin-bottom: 10px; /* Espaçamento opcional entre o campo de busca e o botão */
}
a {
    color: #DF3D82;
    text-decoration: none;
}
a:hover {
    color: #DF3D82;
    text-decoration: underline;
}
#search_box {
    padding: 3px;
    border: solid 1px #666666;
    width: 400px;
    height: 45px;
    font-size: 18px;
    border-radius: 6px;
}
.search_button {
    height: 50px;
    border: #e2dedc solid 1px;
    padding: 9px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
}
ol.update {
    list-style: none;
    font-size: 1.1em;
    margin-top: 20px;
    padding-left: 0;
}
#flash {
    margin-top: 20px;
    text-align: left;
}
#searchword {
    text-align: left;
    margin-top: 20px;
    display: none;
    font-size: 16px;
    color: #000;
}
.searchword {
    font-weight: bold;
    color: #fe6f41;
}
ol.update li {
    border-bottom: #dedede dashed 1px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
ol.update li:first-child {
    border-top: #dedede dashed 1px;
    text-align: left;
}
.search-container {
    position: relative;
}
.autocomplete-suggestion {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc(33.33% - 10px);
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
     box-sizing: border-box;
}
.autocomplete-suggestion:hover {
    background-color: #007bff;
    color: #ffffff;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    width: 100%;
}