<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PESQUE-UNEB</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/estilo.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div align="center">
  <div style="width:700px">
  <div style="margin-top:20px; text-align:left">
    <p align="center"><h1>PESQUE-UNEB </h1></p>
    <form method="get" action="">
    <input type="text" name="search" id="search_box" class='search_box'/>
    <input type="submit" value="Buscar" class="search_button" /><br />
    <span style="color:#666666; font-size:14px; font-family:Arial, Helvetica, sans-serif;"><b>Ex:</b>Sistemas de informação</span>
    </form>
    <div id="autoCompleteList"></div> <!-- Elemento para exibir as sugestões -->
  </div>
  <div>
    <div id="searchword">Resultados da pesquisa para: <span class="searchword"></span></div>
    <div id="flash"></div>
    <ol id="insert_search" class="update"></ol>
  </div>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
    // Evento de clique em uma sugestão
    $("#autoCompleteList").on('click', 'li', function() {
        var autoCompleteText = $(this).text(); // Obtém o texto da sugestão
        $("#search_box").val(autoCompleteText); // Substitui o texto da busca pela sugestão selecionada
        $("#autoCompleteList").empty(); // Limpa a lista de sugestões
    });

    // Função para exibir as sugestões
    function showSuggestions(suggestions) {
        var autoCompleteList = $("#autoCompleteList");
        autoCompleteList.empty(); // Limpa a lista de sugestões

        // Adiciona cada sugestão à lista de sugestões
        suggestions.forEach(function(suggestion) {
            autoCompleteList.append('<li class="list-group-item">' + suggestion + '</li>');
        });

        // Exibe a lista de sugestões
        autoCompleteList.show();
    }

    // Evento de digitação no campo de busca
    $("#search_box").on('input', function(e) {
        var search_phrase = $(this).val().trim(); // Remove espaços em branco antes e depois do termo de pesquisa

        // Verifica se o termo de pesquisa está vazio
        if (search_phrase == '') {
            $("#autoCompleteList").empty(); // Limpa a lista de sugestões se a busca estiver vazia
        } else {
            $.ajax({
                type: "GET",
                url: "/autocomplete",
                data: { term: search_phrase }, // Envia a frase de pesquisa para o servidor Flask
                success: function(response) {
                    showSuggestions(response); // Exibe as sugestões retornadas pelo servidor
                }
            });
        }
    });

    // Evento de clique no botão de busca
    $(".search_button").click(function() {
        var search_word = $("#search_box").val().trim(); // Remove espaços em branco antes e depois do termo de pesquisa
        var dataString = 'search_word=' + encodeURIComponent(search_word); // Codificar o termo de pesquisa para evitar erros de caracteres especiais
        
        if (search_word == '') {
            // Se a caixa de busca estiver vazia, não faça nada.
        } else {
            $.ajax({
                type: "POST",
                url: "/searchdata",
                data: dataString,
                cache: false,
                beforeSend: function(html) {
                    document.getElementById("insert_search").innerHTML = '';
                    $("#flash").show();
                    $("#searchword").show();
                    $(".searchword").html(search_word);
                    $("#flash").html('<img src="/static/img/loader.gif" align="absmiddle"> Carregando Resultados...');
                },
                success: function(html) {
                    $("#insert_search").show();
                    $("#insert_search").append(html.data);
                    // Adiciona o link de download do CSV
                    if (html.csv_url) {
                        var downloadButton = '<a href="' + html.csv_url + '" class="btn btn-primary" type="button">Baixar CSV <i class="fa fa-file-csv"></i></a>';
                        $("#insert_search").append(downloadButton);
                    }
                    $("#flash").hide();

                    // Evento de clique para cada item da lista de resultados
                    $(".show-details").click(function() {
                        var id = $(this).data('id');
                        $.ajax({
                            type: 'GET',
                            url: '/get_details/' + id, // Rota Flask para recuperar detalhes do registro
                            success: function(data) {
                                $('#detailsBody').html(data);
                                $('#detailsModal').modal('show'); // Mostrar o modal com os detalhes
                            },
                            error: function(xhr, status, error) {
                                alert('Erro ao recuperar detalhes do registro');
                            }
                        });
                    });

                    // Evento de clique para fechar o modal quando o botão de fechar é clicado
                    $('#detailsModal').on('click', '.close', function() {
                        $('#detailsModal').modal('hide'); // Oculta o modal
                    });
                }
            });
        }
        return false;
    });

    // Evento de tecla para detectar quando a tecla Backspace é pressionada
    $("#search_box").on('keydown', function(e) {
        if (e.keyCode === 8) { // 8 é o código da tecla Backspace
            // Limpa a lista de seleções apenas se a caixa de busca estiver vazia
            if ($(this).val() === '') {
                $("#autoCompleteList").empty();
            }
        }
    });
});

</script>
</body>
</html>
