<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PESQUE-UNEB</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/estilo.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div align="center">
  <div style="width:700px">
  <div style="margin-top:20px; text-align:left">
    <p align="center"><h1>PESQUE-UNEB </h1></p>
    <form method="get" action="">
    <input type="text" name="search" id="search_box" class='search_box'/>
    <input type="submit" value="Buscar" class="search_button" /><br />
    <span style="color:#666666; font-size:14px; font-family:Arial, Helvetica, sans-serif;"><b>Ex:</b>Sistemas de informação</span>
    </form>
    <!-- Lista para exibir as sugestões de pesquisa -->
    <!--<ul id="search_suggestions"></ul>  -->
    <div id="search_suggestions"></div> <!-- Elemento para exibir as sugestões -->
  </div>
  <div>
    <div id="searchword">Resultados da pesquisa para: <span class="searchword"></span></div>
    <div id="flash"></div>
    <ol id="insert_search" class="update"></ol>
  </div>
  </div>
</div>
<script>
$(document).ready(function() {
    // Evento de digitação no campo de busca para autocompletar
    $("#search_box").keyup(function() {
        var term = $(this).val().trim(); // Remove espaços em branco antes e depois do termo de pesquisa
        
        if (term != '') {
            $.ajax({
                type: "GET",
                url: "/autocomplete", // Rota Flask para obter sugestões de autocompletar
                data: { term: term },
                cache: false,
                success: function(response) {
                    var suggestions = response.suggestions; // Obter sugestões do JSON de resposta
                    displaySuggestions(suggestions); // Exibir sugestões na interface do usuário
                }
            });
        } else {
            $("#search_suggestions").empty(); // Limpar a lista de sugestões se o campo de busca estiver vazio
        }
    });

    // Função para exibir sugestões na interface do usuário
    function displaySuggestions(suggestions) {
        $("#search_suggestions").empty(); // Limpar a lista de sugestões antes de adicionar novas
        $.each(suggestions, function(index, suggestion) {
            var word = suggestion.word.replace('.', ''); // Remover ponto da palavra, se presente
            word = word.trim(); // Remover espaços em branco extras
            $("#search_suggestions").append("<li><span>" + word + "</span></li>"); // Adicionar sugestões à lista com a tag <span>
        });
    }

    // Evento de clique em uma sugestão
    $(document).on("click", "#search_suggestions li", function() {
        var suggestion = $(this).text(); // Obter o texto da sugestão clicada
        $("#search_box").val(suggestion); // Preencher o campo de busca com a sugestão clicada
        $("#search_suggestions").empty(); // Limpar a lista de sugestões
    });

    // Evento de clique no botão de busca
    $(".search_button").click(function() {
        var search_word = $("#search_box").val().trim(); // Remove espaços em branco antes e depois do termo de pesquisa
        var dataString = 'search_word=' + encodeURIComponent(search_word); // Codificar o termo de pesquisa para evitar erros de caracteres especiais
        
        if (search_word == '') {
            // Se a caixa de busca estiver vazia, não faça nada.
        } else {
            $.ajax({
                type: "POST",
                url: "/searchdata",
                data: dataString,
                cache: false,
                beforeSend: function(html) {
                    document.getElementById("insert_search").innerHTML = '';
                    $("#flash").show();
                    $("#searchword").show();
                    $(".searchword").html(search_word);
                    $("#flash").html('<img src="/static/img/loader.gif" align="absmiddle"> Carregando Resultados...');
                },
                success: function(html) {
                    $("#insert_search").show();
                    $("#insert_search").append(html.data);
                    // Adiciona o link de download do CSV
                    if (html.csv_url) {
                        var downloadButton = '<a href="' + html.csv_url + '" class="btn btn-primary" type="button">Baixar CSV <i class="fa fa-file-csv"></i></a>';
                        $("#insert_search").append(downloadButton);
                    }
                    $("#flash").hide();

                    // Evento de clique para cada item da lista de resultados
                    $(".show-details").click(function() {
                        var id = $(this).data('id');
                        $.ajax({
                            type: 'GET',
                            url: '/get_details/' + id, // Rota Flask para recuperar detalhes do registro
                            success: function(data) {
                                $('#detailsBody').html(data);
                                $('#detailsModal').modal('show'); // Mostrar o modal com os detalhes
                            },
                            error: function(xhr, status, error) {
                                alert('Erro ao recuperar detalhes do registro');
                            }
                        });
                    });

                    // Evento de clique para fechar o modal quando o botão de fechar é clicado
                    $('#detailsModal').on('click', '.close', function() {
                        $('#detailsModal').modal('hide'); // Oculta o modal
                    });
                }
            });
        }
        return false;
    });
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>