<h3>{{ numrows }} Registros encontrados</h3>
<ol id="insert_search" class="update">
  {% for row in employee %}
    <li>
      {{ row.name }} 
      <br/>
      <span style='font-size:12px;'>{{ row.abstract }}</span>
      <button type="button" class="btn btn-info btn-sm show-details" data-toggle="modal" data-target="#detailsModal" data-id="{{ row.id }}">+</button>
    </li>
  {% endfor %}
</ol>
<!-- Container para o link de download do CSV -->
<div id="download_link" style="margin-top: 20px;"></div>
